{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set ourTeamCategory = craft.categories.slug('our-team').one() %}
{% set ourTeam = craft.entries({
  section: 'people',
  relatedTo: ourTeamCategory,
  with: [
    'personImage',
  ]
}) %}

{% set ourBoardCategory = craft.categories.slug('our-board').one() %}
{% set ourBoard = craft.entries({
  section: 'people',
  relatedTo: ourBoardCategory,
  with: [
    'personImage',
  ]
}) %}

{% set ourSupportersCategory = craft.categories.slug('our-supporters').one() %}
{% set ourSupporters = craft.entries({
  section: 'people',
  relatedTo: ourSupportersCategory,
  with: [
    'personImage',
  ]
}) %}

{% block content %}
  <div id="our-mission"></div>
  {% include 'partials/_page-header' with { pageHeader: entry.pageHeader, gradientColor: '#ff6e5c' } %}
  <div class="single-entry our-approach">

    <div id="our-approach">
      <h4 class="subhead">Our Approach</h4>
      <h1>{{ entry.ourApproach.tagline }}</h1>
      {{ entry.ourApproach.statement }}
      <p><a href="/work/" class="button">Our Work</a></p>

      <div class="our-values">
        <h4 class="subhead">We Value</h4>
        <ul class="values">
        {% for value in entry.weValue.all() %}
          <li>{{ value.valueText|nl2br }}</li>
        {% endfor %}
        </ul>
        <a href="/about/values/" class="arrow">Learn more about our values &rarr;</a>
      </div>
    </div>

  </div>
  <div class="single-entry our-team">

    <div id="our-team">
      {{ entry.peopleStatement }}

      <h4 class="subhead">Our Team</h4>
      <ul class="people">
        {% for person in ourTeam.all() %}
          <li>
            <article>
              <h2>{{ person.title }}</h2>
              <h2>{{ person.title }}</h2>
            </article>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}

{% block footerimage %}
  {% set entryFooterImage = entry.footerImage|length ? entry.footerImage : entry.memberImage %}
  {% include 'partials/_footer-image' with { footerImage: entryFooterImage, gradientColor: '#ff6e5c' } %}
{% endblock %}
