{% if event.dateStart %}
  <li>
    {{ event.dateStart|date('m/d/y') }}
    {% set eventTime = event.dateStart|date('ga') %}
    {% if eventTime != '12am' %}
      @ {{ eventTime }}
    {% endif %}
    {# Check if enddate is later than startdate #}
    {% if event.dateEnd and event.dateEnd > event.dateStart %}
      –
      {# Same day, just show time span #}
      {% if event.dateEnd|date('m/d/y') == event.dateStart|date('m/d/y') %}
      {% else %}
        {{ event.dateEnd|date('m/d/y') }} @
      {% endif %}
      {% set eventTime = event.dateEnd|date('ga') %}
      {% if eventTime != '12am' %}
        {{ eventTime }}
      {% endif %}
    {% endif %}
  </li>
{% endif %}
