{% if gradientColor is not defined %}
  {% set gradientColor = '#222222' %}
{% endif %}

{% if footerImage|length %}
  {% set grayImage = craft.imager.transformImage(footerImage.one(), {
    width: 1600,
    height: 1600,
    effects: { modulate: [100, 0, 100], clut: 'gradient:' ~ gradientColor ~ '-' ~ '#ffffff' }
  }) %}

  <div class="footer-image">
    <div class="image-wrap">
      <div class="image" style="background-image: url({{ grayImage ? grayImage.getUrl() : '' }});"></div>
    </div>
  </div>
{% endif %}
