{# Static dropdown nav menu #}
{% set nav = [
  {"href": "/work/", "name": "Work", "children":
    [
      {"href": "/work/#our-work", "name": "Our Work"},
      {"href": "/work/#our-programs", "name": "Programs"},
      {"href": "/work/#our-impact", "name": "Impact"},
      {"href": "/work/#work-with-us", "name": "Work With CLX"},
    ]
  },
  {"href": "/community/", "name": "Community"},
  {"href": "/about/", "name": "About", "children":
    [
      {"href": "/about/#our-mission", "name": "Mission"},
      {"href": "/about/#our-approach", "name": "Approach"},
      {"href": "/about/#our-team", "name": "Team"},
      {"href": "/about/#our-board", "name": "Board"},
      {"href": "/about/#our-supporters", "name": "Supporters"},
    ]
  },
  {"href": "/news-events/news/", "name": "News"},
  {"href": "/news-events/events/", "name": "Events"},
  {"href": "/resources/", "name": "Resources"},
  {"href": "/search/", "name": "Search"},
] %}

{% import _self as navigation %}

{% macro menu_links(items, outside, inside) %}
{% spaceless %}
  {% import _self as navigation %}
    {% for item in items %}
      <{{inside}} class="nav-{{ item.name|lower }}{% if item.children is defined %} dropdown{% endif %}{% if item.href in craft.app.request.absoluteUrl %} active{% endif %}">
        <a href="{{ item.href }}"{% if item.children is defined %} aria-haspopup="true"{% endif %}>{{ item.name }}{% if item.children is defined %}<svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg>{% endif %}</a>
        {% if item.children is defined %}
          <{{outside}} class="children" aria-label="submenu">
            {{ navigation.menu_links(item.children, outside, inside) }}
          </{{outside}}>
        {% endif %}
      </{{inside}}>
    {% endfor %}
{% endspaceless %}
{% endmacro %}

<ul class="primary-nav">
  {{ navigation.menu_links(nav, 'ul', 'li') }}
</ul>
