{# if gradientColor is not defined #}
  {% set gradientColor = '#222222' %}
{# endif #}

{% if pageHeader.image|length %}
  {% set headerImage = pageHeader.image.one() %}
  {% set treatedImage = craft.imager.transformImage(headerImage, {
    width: 1000,
    height: 1000,
    mode: 'crop',
    position: '20% 65%',
    effects: { modulate: [100, 0, 100], clut: 'gradient:' ~ gradientColor ~ '-' ~ '#ffffff' }
  }) %}
{% endif %}

<div class="page-header">
  <div class="image-wrap">
    {% if pageHeader.image|length %}
    <div class="image" style="background-image: url({{ treatedImage ? treatedImage.getUrl() : '' }});"></div>
    {% endif %}
  </div>
  <div class="page-header-info">
    {% if crumbRoot is defined %}
      <h4 class="subhead crumb"><a href="{{ crumbRoot.url }}">{{ crumbRoot.title }}</a> / {{ pageHeader.headerTitle }}</h4>
    {% else %}
      <h4 class="subhead">{{ pageHeader.headerTitle }}</h4>
    {% endif %}
    {{ pageHeader.statement }}
  </div>
</div>
