  {# Pagination for Structure sections #}
  {% if category is defined %}
    {% set prevEntry = craft.entries.section(paginationSection).relatedTo(category).positionedBefore(entry).orderBy('lft desc').one() %}
    {% if not prevEntry %}
      {% set prevEntry = craft.entries.section(paginationSection).relatedTo(category).inReverse().one() %}
    {% endif %}

    {% set nextEntry = craft.entries.section(paginationSection).relatedTo(category).positionedAfter(entry).orderBy('lft asc').one() %}
    {% if not nextEntry %}
      {% set nextEntry = craft.entries.section(paginationSection).relatedTo(category).one() %}
    {% endif %}
  {% else %}
    {% set prevEntry = craft.entries.section(paginationSection).positionedBefore(entry).orderBy('lft desc').one() %}
    {% if not prevEntry %}
      {% set prevEntry = craft.entries.section(paginationSection).inReverse().one() %}
    {% endif %}

    {% set nextEntry = craft.entries.section(paginationSection).positionedAfter(entry).orderBy('lft asc').one() %}
    {% if not nextEntry %}
      {% set nextEntry = craft.entries.section(paginationSection).one() %}
    {% endif %}
  {% endif %}

  <nav class="entry-navigation">
    <ul>
      <li>
        Previous {{ postName }}
        <a href="{{ prevEntry.url }}" class="no-underline">{{ prevEntry.title }}</a>
        <svg class="icon icon-left-arrow"><use xlink:href="#icon-left-arrow" /></svg>
      </li>
      <li>
        Next {{ postName }}
        <a href="{{ nextEntry.url }}" class="no-underline">{{ nextEntry.title }}</a>
        <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
      </li>
    </ul>
  </nav>
