  {# Pagination for Categories #}
  {% set prevCategory = category.prevSibling %}
  {% if not prevCategory %}
    {% set prevCategory = craft.categories().groupId(category.group.id).inReverse().one() %}
  {% endif %}

  {% set nextCategory = category.nextSibling %}
  {% if not nextCategory %}
    {% set nextCategory = craft.categories().groupId(category.group.id).one() %}
  {% endif %}

  <nav class="entry-navigation">
    <ul>
      <li>
        Previous {{ category.group|trim('s', 'right') }}
        <a href="{{ prevCategory.url }}" class="no-underline">{{ prevCategory.title }}</a>
        <svg class="icon icon-left-arrow"><use xlink:href="#icon-left-arrow" /></svg>
      </li>
      <li>
        Next {{ category.group|trim('s', 'right') }}
        <a href="{{ nextCategory.url }}" class="no-underline">{{ nextCategory.title }}</a>
        <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
      </li>
    </ul>
  </nav>
