  {# Pagination for Structure sections #}
  {% if category is defined %}
    {% set prevEntry = craft.entries.section(paginationSection).relatedTo(category).positionedBefore(entry).orderBy('lft desc').one() %}
    {% if not prevEntry %}
      {% set prevEntry = craft.entries.section(paginationSection).relatedTo(category).inReverse().one() %}
    {% endif %}

    {% set nextEntry = craft.entries.section(paginationSection).relatedTo(category).positionedAfter(entry).orderBy('lft asc').one() %}
    {% if not nextEntry %}
      {% set nextEntry = craft.entries.section(paginationSection).relatedTo(category).one() %}
    {% endif %}
  {% else %}
    {% set prevEntry = craft.entries.section(paginationSection).positionedBefore(entry).orderBy('lft desc').one() %}
    {% if not prevEntry %}
      {% set prevEntry = craft.entries.section(paginationSection).inReverse().one() %}
    {% endif %}

    {% set nextEntry = craft.entries.section(paginationSection).positionedAfter(entry).orderBy('lft asc').one() %}
    {% if not nextEntry %}
      {% set nextEntry = craft.entries.section(paginationSection).one() %}
    {% endif %}
  {% endif %}

  <nav class="entry-navigation">
    <ul class="semantic-only-list row -halves -separators">
      <li class="row-block bigclicky">
        <article class="module pad prev-post">
          <div class="text-red font-details no-margin">Previous {{ postName }}</div>
          <h1 class="font-h2 post-title"><a href="{{ prevEntry.url }}" class="no-underline">{{ prevEntry.title }}</a></h1>
          <svg class="icon icon-left-arrow"><use xlink:href="#icon-left-arrow" /></svg>
        </article>
      </li>
      <li class="row-block bigclicky">
        <article class="module pad next-post">
          <div class="text-red font-details  no-margin">Next {{ postName }}</div>
          <h1 class="font-h2 post-title"><a href="{{ nextEntry.url }}" class="no-underline">{{ nextEntry.title }}</a></h1>
          <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
        </article>
      </li>
    </ul>
  </nav>
