{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set newsOrEvents = segment(2) == '' ? 'News' : segment(2) %}
{% if entry is not defined %}
  {% set entry = craft.entries.section(newsOrEvents ~ 'Index').one() %}
{% endif %}

{% if tag is defined %}
  {% set tag = craft.tags.slug(tag).one() %}
  {# todo: 404 on no tag matches #}
  {% paginate craft.entries({
    section: newsOrEvents,
    relatedTo: tag,
    with: [
      'newsEventImage'
    ]
  }).orderBy('featured DESC, postDate DESC').limit(30) as paginationInfo, newsEventsEntries %}

{% elseif category is defined %}

  {% paginate craft.entries({
    section: newsOrEvents,
    relatedTo: category,
    with: [
      'newsEventImage'
    ]
  }).orderBy('featured DESC, postDate DESC').limit(30) as paginationInfo, newsEventsEntries %}

{% else %}

  {% paginate craft.entries({
    section: newsOrEvents,
    with: [
      'newsEventImage'
    ]
  }).orderBy('featured DESC, postDate DESC').limit(30) as paginationInfo, newsEventsEntries %}

{% endif %}

{% block content %}
  <div class="text-header">
    {{ entry.statement }}
  </div>

  <div class="center-content">
    <ul class="filters">
      <li>
        <a href="/news-events/news/"{{ newsOrEvents == 'news' ? ' class="active"' : '' }}>News</a> |
        <a href="/news-events/events/"{{ newsOrEvents == 'events' ? ' class="active"' : '' }}>Events</a>
      </li>
      <li>
        <select name="filter" class="jumpSelect">
          <option value="#">Filter by {{ newsOrEvents == 'news' ? 'Topic' : 'Event Type' }}</option>
          {% for newsCat in craft.categories.group(newsOrEvents=='events' ? 'eventTypes' : 'newsTopics').all() %}
            <option value="{{ newsCat.getUrl() }}" {# {{ category is defined and newsCat.title == category.title ? 'selected' : '' }} #}>{{ newsCat.title }}</option>
          {% endfor %}
        </select>
      </li>
      <li class="selected-category">
        {% if tag is defined %}
          <a class="close" href="{{ entry.getUrl() }}">{{ tag.title }} <span>X</span></a>
        {% endif %}
        {% if category is defined %}
          <a class="close" href="{{ entry.getUrl() }}">{{ category.title }} <span>X</span></a>
        {% endif %}
      </li>
    </ul>

    <div class="news-posts">
      {% for newsEventEntry in newsEventsEntries %}
        <article>
          {% set newsEventImage = newsEventEntry.newsEventImage[0] ?? null %}
          {% if newsEventImage %}
            {% set treatedImage = craft.imager.transformImage(newsEventImage, {
              width: 960,
              height: 600,
              effects: { modulate: [100, 0, 100], clut: 'gradient:#222222-#ffffff' }
            }) %}
            <div class="image-wrap">
              <a href="{{ newsEventEntry.getUrl() }}" class="image" style="background-image: url({{ treatedImage ? treatedImage.getUrl() : '' }});"></a>
            </div>
          {% endif %}
          <time datetime="{{ newsEventEntry.postDate|date('Y-m-d') }}">
            {{ newsEventEntry.postDate|date('F d Y') }}
          </time>
          <h3><a href="{{ newsEventEntry.getUrl() }}">{{ newsEventEntry.title }}</a></h3>
          <p class="excerpt">{{ newsEventEntry.excerpt ? newsEventEntry.excerpt : newsEventEntry.body | chop(limit=20, unit='w', append='…') }}</p>
          <p class="read-more"><a href="{{ newsEventEntry.getUrl() }}" class="arrow">Read More <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a></p>
        </article>
      {% endfor %}
    </div>
  </div>{# /.center-content #}

  {% include "partials/_pagination" with { 'paginationInfo': paginationInfo } %}

{% endblock %}
