// CLX elements

.bg-x {
  fill: none;
  stroke: $white;
  position: absolute;
  top: grid(11);
  left: 0;
  width: 1500px;

  &.lower {
    display: none;
  }

  @include media-nav {
    width: 106%;
    height: auto;

    &.lower {
      display: block;
      top: calc(100vw + 50vh);
      transform: rotate(180deg);
      left: -5%;
    }
  }
}

// Mobile CLX
@include max-screen($breakpoint-nav) {
  .clx-elements {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    z-index: 1;
  }
  .icon-C,
  .icon-L,
  .icon-X {
    position: absolute;
  }
  .icon-C {
    width: 26px;
    top: 4px;
    right: 44px;
  }
  .icon-L {
    width: 16px;
    top: 0;
    right: 4px;
  }
  .icon-X {
    width: 24px;
    top: 60px;
    right: 0;
  }
}

// Desktop CLX
@include media-nav {
  .icon-C,
  .icon-L,
  .icon-X {
    display: block;
    position: fixed;
    height: auto;
    z-index: 1000;
  }
  .icon-C {
    width: 90px;
    top: 120px;
    left: 40px;
  }
  .icon-L {
    width: 50px;
    right: 3.5%;
    top: 110px;
  }
  .icon-X {
    width: 80px;
    bottom: 80px;
    right: 3.5%;
    fill: $red;
  }

  // Adjust for adminbar
  .logged-in {
    .icon-C {
      top: 165px;
    }
    .icon-L {
      top: 155px;
    }
  }
}
