// Footer

.footer-image {
  position: relative;
  margin: -#{grid(10)} 0 -#{grid(28)};
  z-index: -1;

  @include media-nav {
    padding: 0;
    margin: -#{grid(10)} 0 0 calc(#{columns(1)} - #{$global-padding});
    .image-wrap {
      .image {
        @include aspect-ratio(1240,570);
        background-position: center 30%;
      }
    }
  }
}

.site-footer {
  background: $black;
  color: $white;
  padding: $global-padding;
  position: relative;
  // Add room for mobile footer-logo
  margin-top: 220px;

  .back-to-top {
    display: block;
    z-index: 1000;
    position: absolute;
    top: grid(10);
    right: 3.5%;
    transform: rotate(270deg);
    padding: grid(1);
    &, svg {
      transition: all 0.2s ease;
    }
    svg {
      width: 18px;
      height: 18px;
      fill: $red;
    }
    &:hover {
      svg {
        fill: $white;
      }
    }
  }

  .copyright {
    margin-top: grid(4);
    color: rgba($gray, .25);
    font-size: 12px;
  }

  .arrow {
    svg {
      fill: $red;
    }
  }

  @include clearfix;
  @include type-display;

  a {
    color: $white;
  }
  ul,
  p {
    @include type-display;
    line-height: 2;
  }
  #footer-logo {
    width: 35px;
    fill: $black;
  }
  #footer-logo-x {
    fill: $red;
  }
  h3 {
    @include type-subhead;
    color: $red;
    margin: grid(8) 0 grid(4);
  }
  .icon {
    vertical-align: baseline;
    width: 16px;
    height: 16px;
    fill: $white;
    margin-right: grid(2);
  }

  #footer-logo {
    position: absolute;
    top: -168px;
    left: 60px;
  }
  @include max-screen($breakpoint-md) {
    .newsletter h3 {
      margin-top: grid(6);
    }
  }

  // Desktop styles
  @include media-nav {
    padding: grid(10) 0 grid(6) columns(1);
    margin: 0 0 0 calc(#{columns(1)} - #{$global-padding});
    h3 {
      margin: 0 0 grid(5);
    }
    #footer-logo {
      top: auto;
      bottom: 110px;
      left: -110px;
    }
    .footer-block {
      width: 50%;
      float: left;
      padding: 0 columns(1) grid(6) 0;
      &:nth-child(odd) {
        clear: left;
      }
    }
    .social a {
      padding-bottom: 2px;
      &, svg {
        transition: all 0.2s ease;
      }
      &:hover {
        color: $red;
        svg {
          fill: $red;
        }
      }
    }
  }
}

.no-touchevents {
  .site-footer {
    a:not(.arrow):not(.button):hover {
      border-color: $white;
    }
  }
}
