// Forms

form {
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  h4 {
    display: block;
    margin: grid(5) 0 grid(3);
  }

  input[type=text],
  input[type=email] {
    background: none;
    border: none;
    border-bottom: 1px dashed $dk-gray;
    transition: border .2s;
    padding: 10px 0;
    color: $white;
    font: 16px/1.375 $font-display;
    &:focus {
      outline: 0;
      border-bottom: 1px dashed $red;
    }
    &::placeholder {
      color: $dk-gray;
    }

    width: 100%;
    margin-bottom: grid(3);

    @include media-md {
      &.half {
        width: calc(50% - 12px);
        float: left;
        &:nth-child(odd) {
          float: right;
        }
      }
    }
  }

  // Hide org until interacted
  input[name=ORGNAME] {
    display: none;
  }
  &.interacted {
    input[name=ORGNAME] {
      display: block;
    }
  }

  // Form buttons
  .actions {
    margin-top: grid(2);
  }
  input[type=submit] {
    border: none;
    background: none;
    padding: 0;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }

  // Feedback from submitting form
  .status {
    font: 16px/1.5625 $font-display;
    color: $red;
    display: none;
    &.error {
      margin: grid(2) 0 grid(4);
      display: block;
    }
  }

  // Form sending
  &.working {
    input[name=subscribe] {
      opacity: .5;
    }
  }

  // Submit was successful
  &.success {
    fieldset,
    .actions {
      display: none;
    }
    .status {
      margin: grid(5) 0;
      display: block;
    }
  }
}
