// Forms

form {
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  h4 {
    display: block;
    margin: grid(5) 0 grid(3);
  }

  input[type=text],
  input[type=email] {
    background: none;
    border: none;
    border-bottom: 1px dashed $dk-gray;
    transition: border 0.2s ease;
    padding: 10px 0;
    color: $white;
    font: 16px/1.375 $font-display;
    &:focus {
      outline: 0;
      border-bottom: 1px dashed $red;
    }
    &::placeholder {
      color: $dk-gray;
    }

    width: 100%;
    margin-bottom: grid(3);

    @include media-md {
      &.half {
        width: calc(50% - 12px);
        float: left;
        &:nth-child(even) {
          float: right;
        }
      }
    }
  }

  // Hide org until interacted
  input[name=ORGNAME] {
    display: none;
  }
  &.interacted {
    input[name=ORGNAME] {
      display: block;
    }
  }

  // Form buttons
  .actions {
    margin-top: grid(2);
  }
  [type=submit] {
    border: none;
    background: none;
    padding: 0;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }

  // Feedback from submitting form
  .status {
    font: 16px/1.5625 $font-display;
    color: $red;
    display: none;
    &.error {
      margin: grid(2) 0 grid(4);
      display: block;
    }
  }

  // Form sending
  &.working {
    input[name=subscribe] {
      opacity: .5;
    }
  }

  // Submit was successful
  &.success {
    fieldset,
    .actions {
      display: none;
    }
    .status {
      margin: grid(5) 0;
      display: block;
    }
  }
}

// Dropdowns
.select {
  position: relative;
  display: inline-block;

  select {
    display: block;
    width: 100%;
    padding: 0 grid(3) 0 0;
    margin: 0;
    color: $black;
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    appearance: none;
  }

  // Undo the Firefox inner focus ring
  select:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  // Dropdown arrow
  .icon-arrow {
    position: absolute;
    bottom: 4px;
    right: 0;
    width: 12px;
    height: 12px;
    pointer-events: none;
    transform: rotate(90deg);
    fill: $red;
  }

  // Focus
  select:focus {
    // box-shadow: 0 0 0 .075rem $white, 0 0 0 .2rem $black;
  }

  // Active/open
  select:active {
    // color: $white;
    // background-color: $black;
  }

  // Hide the arrow in IE10 and up
  select::-ms-expand {
    display: none;
  }
}

// Media query to target Firefox only
@-moz-document url-prefix() {
  // Firefox hack to hide the arrow
  .select select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem;
  }

  // <option> elements inherit styles from <select>, so reset them.
  .select option {
    background-color: $white;
  }
}
.no-touchevents {
  .select select {
    transition: all 0.2s ease;
    &:hover {
      color: $red;
    }
  }
}