// Header

.site-header {
  position: relative;
  min-height: 90px;
  .nav-bg {
    display: none;
  }
  .nav-fg {
    position: relative;
  }

  @include media-nav {
    padding: grid(11) calc(#{columns(.5)}) 0 calc(#{columns(1)} - #{$global-padding});

    // Nav bg that slides out when hovering over site-nav
    .nav-bg {
      display: block;
      background: rgba($white, .9);
      position: absolute;
      left: 0;
      width: 100%;
      height: 500px;
      opacity: 0;
      top: -200px;
      transition: all 0.25s ease;
      z-index: 2000;
      pointer-events: none;
    }
    .nav-fg {
      z-index: 2001;
    }
    &.bg {
      .nav-bg {
        top: 0;
        opacity: 1;
      }
      .site-nav > ul > li > a {
        color: $black;
        .icon-arrow {
          fill: $black;
        }
      }
    }
  }
}

// Desktop-only logomark
.icon-logo {
  fill: $black;
  position: absolute;
  top: 0;
  left: 0;
  width: 245px;
  display: none;

  @include media-nav {
    display: block;
  }
}

// Magnify icon
.search-toggle {
  width: 38px;
  height: 38px;
  padding: 10px;
  svg {
    width: 18px;
    height: 18px;
  }
  position: absolute;
  top: -40px;
  right: 10px;
  display: none;
  fill: none;
  stroke: $black;

  @include media-nav {
    display: block;
  }
}
.site-nav {
  .icon-arrow {
    width: 16px;
    height: 16px;
    fill: $black;
    transform: rotate(90deg);
  }
}

// Mobile nav styles
@include max-screen($breakpoint-nav) {
  // Hamburger and X buttons
  .mobile-nav-close,
  .mobile-nav-toggle {
    width: 38px;
    height: 38px;
    padding: 10px;
    svg {
      width: 18px;
      height: 18px;
    }
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1001;
  }
  // Hide X button by default
  .mobile-nav-close {
    display: none;
  }
  // Red bg + site nav are fixed to full viewport
  .site-nav,
  .mobile-nav-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  // Allow scrolling if open nav is taller than screen
  .site-nav {
    overflow-y: auto;
  }

  // Mobile nav is open!
  &.mobile-nav-open {
    // Keep body from scrolling underneath
    position: fixed;
    overflow-y: hidden;
    // Now site nav
    .site-nav {
      display: block;
    }
    // Hide hamburger
    .mobile-nav-toggle {
      display: none;
    }
    // Show X button
    .mobile-nav-close {
      display: block;
    }
    .mobile-nav-bg {
      background: $red;
      display: block;
    }
  }

  // Mobile nav styles
  .site-nav {
    padding: grid(13) $global-padding $global-padding $global-padding;
    text-transform: uppercase;
    li {
      font: bold 24px/1.4 $font-display;
      letter-spacing: .1em;
      margin: 0 0 grid(4);
    }
    // Child menus, hidden at start
    ul.children {
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s ease;
      li {
        font: 25px/1.4 $font-regular;
        text-transform: none;
        letter-spacing: 0;
        margin: 0;
        a {
          color: $white;
        }
      }
    }
    // Slide out child menu
    li.open ul.children {
      margin: grid(4) 0 0;
      max-height: 300px;
    }
  }
  &.logged-in .site-nav {
    padding-top: grid(19);
  }
}

// Desktop nav
@include media-nav {
  .mobile-nav-close,
  .mobile-nav-toggle,
  .mobile-nav-bg {
    display: none;
  }
  .site-nav {
    margin-top: 5px;
    // Smaller arrows
    .icon-arrow {
      width: 12px;
      height: 12px;
    }
    // Hide the "Search" faux-nav-item that's just for mobile
    .nav-search {
      display: none;
    }
    ul {
      text-align: right;
      li {
        display: inline-block;
        position: relative;
        padding: grid(1) grid(.5);
        margin: grid(1) grid(1.5) 0;
        @include type-subhead;
        border-bottom: 2px dashed transparent;
        &:hover {
          border-color: $black;
        }
        a {
          display: block;
          &:hover {
            text-decoration: none;
          }
        }
        &.active>a {
          color: $red;
          .icon-arrow {
            fill: $red;
          }
        }
        // Child menus, hidden at start
        ul.children {
          margin: 0;
          padding: grid(3) 0 0;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.5s ease, visibility 0s;
          min-width: 5rem;
          position: absolute;
          left: 0;
          display: block;
          text-align: left;
          z-index: 100;
          li {
            margin: 0;
            clear: both;
            width: 100%;
            font: 30px/1.4 $font-regular;
            letter-spacing: 0;
            margin: 0;
            padding: 0;
            border: none;
            a {
              margin: 0;
              text-transform: none;
              white-space: nowrap;
              &:hover {
                color: $red;
              }
            }
          }
        }
        // On hover and focus, show child menus
        &:hover > ul,
        &:focus-within > ul,
        ul:hover,
        ul:focus {
           visibility: visible;
           opacity: 1;
           display: block;
        }
      }
    }
  }
}