// Header

.site-header {
  position: relative;
  height: 90px;

  @include media-md {
    margin: grid(11) calc(#{columns(.5)}) 0 calc(#{columns(1)} - #{$global-padding});
  }
}

.icon-logo {
  fill: $black;
  position: absolute;
  top: 0;
  left: 0;
  width: 245px;

  @include media-md {
    left: 0;
  }
}

.icon-search {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -30px;
  right: 20px;
}
.icon-hamburger {
  display: none;
}

.site-nav {
  margin-top: 5px;
  a {
    @include type-subhead;
    padding: grid(2);
  }
  .active a {
    color: $red;
  }
  ul {
    text-align: right;
    li {
      display: inline-block;
    }
  }
  ul.children {
    display: none;
    text-align: left;
    li {
      display: block;
    }
    a {
      display: block;
      font: 30px/1.5 $font-regular;
    }
  }
}