.user-content {
  ul {
    list-style-type: disc;
  }
  ol,
  ul {
    padding-left: 2em;
    li {
      margin-bottom: grid(3);
    }
  }
  a:not(.arrow):not(.button) {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px dashed $black;
    transition: all 0.2s ease;
  }
  h1 a:not(.arrow):not(.button) {
    border-width: 4px;
  }
  figure {
    margin: 0 0 1em;
  }
}
.no-touchevents {
  .user-content a:not(.button):hover {
    color: $red;
    border-color: $red;
  }
}
