{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = 'single' %}
{% set memberType = entry.memberType.one() %}

{% block content %}
  <article class="single-entry single-member">
    {% include 'partials/_inline-image' with { image: entry.memberImage } %}
    <h4 class="crumb subhead"><a href="/community/">Community</a>{% if memberType %} / <a href="{{ memberType.getUrl() }}">{{ memberType.title }}</a>{% endif %}</h4>
    <h1>{{ entry.title }}</h1>
    {{ entry.statement }}
    <div class="user-content">
      {{ entry.body }}
    </div>
    {% include 'partials/_post-meta' with { postMeta: entry.postMeta } %}
    <div class="return-crumb">
      <a class="arrow left" href="/community/"><svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg> All Community Members</a>
    </div>
  </article>
{% endblock %}

{% block footerimage %}
  {% include 'partials/_footer-image' with { footerImage: entry.footerImage } %}
{% endblock %}