{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set mode = craft.app.request.getParam('mode') ?? 'grid' %}
{% set perPage = (mode == 'grid') ? 30 : 120 %}
{% if entry is not defined %}
  {% set entry = craft.entries.section('community').one() %}
{% endif %}

{% if category is defined %}

  {% paginate craft.entries({
    section: 'members',
    relatedTo: category,
    with: [
      'memberType',
      'memberImage'
    ]
  }).orderBy('featured DESC, postDate DESC').limit(perPage) as paginationInfo, memberEntries %}

{% else %}

  {% paginate craft.entries({
    section: 'members',
    with: [
      'memberType',
      'memberImage'
    ]
  }).orderBy('featured DESC, postDate DESC').limit(perPage) as paginationInfo, memberEntries %}

{% endif %}

{% block content %}
  <div class="text-header">
    <h4 class="subhead">Our Community</h4>
    {{ entry.statement }}
  </div>

  <div class="center-content members">
    <ul class="filters">
      <li>
        <a href="/community/"{{ mode == 'grid' ? ' class="active"' : '' }}>Grid</a> |
        <a href="/community/?mode=list"{{ mode == 'list' ? ' class="active"' : '' }}>List</a>
      </li>
      <li>
        <div class="select">
          <select name="filter" class="jumpSelect">
            <option value="#">Filter by Member Type</option>
            {% for newsCat in craft.categories.group('memberTypes').all() %}
              <option value="{{ newsCat.getUrl() }}" {# {{ category is defined and newsCat.title == category.title ? 'selected' : '' }} #}>{{ newsCat.title }}</option>
            {% endfor %}
          </select>
          <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg>
        </div>
      </li>
      <li class="selected-category">
        {% if tag is defined %}
          <a class="close" href="{{ entry.getUrl() }}">{{ tag.title }}&nbsp;<span>x</span></a>
        {% endif %}
        {% if category is defined %}
          <a class="close" href="{{ entry.getUrl() }}">{{ category.title }}&nbsp;<span>x</span></a>
        {% endif %}
      </li>
    </ul>
    <div class="member-list mode-{{ mode }}">
      {% for memberEntry in memberEntries %}
        <article>
          {% if mode == 'grid' %}
            {% set memberImage = memberEntry.memberImage[0] ?? null %}
            {% if memberImage %}
              {% set treatedImage = craft.imager.transformImage(memberImage, {
                width: 500,
                height: 500,
                effects: { modulate: [100, 0, 100], clut: 'gradient:#222222-#ffffff' }
              }) %}
              <div class="image-wrap">
                <a href="{{ memberEntry.getUrl() }}" class="image" style="background-image: url({{ treatedImage ? treatedImage.getUrl() : '' }});"></a>
              </div>
            {% endif %}
          {% endif %}
          <h4><a href="{{ memberEntry.getUrl() }}">
            {% if memberEntry.personName %}
              {{ memberEntry.personName }}{{ memberEntry.organizationName ? '<br>' : '' }}
            {% endif %}
            {{ memberEntry.organizationName }}
          </a></h4>
        </article>
      {% else %}
        <p class="none-found">No posts found.</p>
      {% endfor %}
    </div>
  </div>{# /.center-content #}

  {% include "partials/_pagination" with { 'paginationInfo': paginationInfo } %}

{% endblock %}
