{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set mode = craft.request.getParam('mode') ?? 'grid' %}

{% if category is defined %}

  {% paginate craft.entries({
    section: 'members',
    relatedTo: category,
    with: [
      'memberType',
      'memberImage'
    ]
  }).orderBy('featured DESC, postDate DESC').limit(100) as paginationInfo, memberEntries %}

{% else %}

  {% paginate craft.entries({
    section: 'members',
    with: [
      'memberType',
      'memberImage'
    ]
  }).orderBy('featured DESC, postDate DESC').limit(100) as paginationInfo, memberEntries %}

{% endif %}

{% block content %}
  <div class="text-header">
    <h4 class="subhead">Our Community</h4>
    {{ entry.statement }}
  </div>

  <div class="center-content members">
    {% for memberEntry in memberEntries %}
      <article>
        {% set memberImage = memberEntry.memberImage[0] ?? null %}
        {% if memberImage %}
          {% set treatedImage = craft.imager.transformImage(memberImage, {
            width: 800,
            height: 800,
            effects: { modulate: [100, 0, 100], clut: 'gradient:#222222-#ffffff' }
          }) %}
          <div class="image-wrap">
            <a href="{{ memberEntry.getUrl() }}" class="image" style="background-image: url({{ treatedImage ? treatedImage.getUrl() : '' }});"></a>
          </div>
        {% endif %}
        <h4><a href="{{ memberEntry.getUrl() }}">
          {% if memberEntry.personName %}
            {{ memberEntry.personName }}{{ memberEntry.organizationName ? '<br>' : '' }}
          {% endif %}
          {{ memberEntry.organizationName }}
        </a></h4>
      </article>
    {% endfor %}
  </div>
{% endblock %}
