{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set query = craft.app.request.getParam('q') %}

{% block content %}
  {% include "partials/_search-form" with { 'query': query } %}
  <div class="center-content">
    <div class="news-posts">
    {% if query %}
      {% set entries = craft.entries.search(query).orderBy('score') %}
      <div class="search-results">
        {% if (entries|length) == 0 %}
          <p class="no-results">No results found.</p>
        {% else %}
          {% for entry in entries.all() %}
            {% include 'search/_article' %}
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}
    </div>
  </div>
{% endblock %}
