{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% if entry is not defined %}
  {% set entry = craft.entries.section('newsIndex').one() %}
{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set entryOptions = {
    section: 'news',
    with: [
      'newsEventImage'
    ],
    orderBy: 'featured DESC, postDate DESC',
  }
%}

{% if tag is defined %}
  {% set tag = craft.tags.slug(tag).one() %}
  {% if not tag %}
    {% exit 404 %}
  {% endif %}
  {% set entryOptions = entryOptions|merge({ relatedTo: tag }) %}
  {% set title = 'News tagged: ' ~ tag.title %}
{% elseif category is defined %}
  {% set entryOptions = entryOptions|merge({ relatedTo: category }) %}
  {% set title = category.title %}
{% else %}
  {% set title = 'News' %}
  {% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% endif %}

{% paginate craft.entries(entryOptions).limit(30) as paginationInfo, newsEventsEntries %}

{% block content %}
  <div class="text-header">
    {{ entry.statement }}
  </div>

  <div class="center-content">
    <ul class="filters">
      <li>
        <div class="select">
          <select name="filter" class="jumpSelect">
            <option value="#">FILTER</option>
            {% for newsCat in craft.categories.group('newsTopics').all() %}
              <option value="{{ newsCat.getUrl() }}" {# to show selected category: {{ category is defined and newsCat.title == category.title ? 'selected' : '' }} #}>{{ newsCat.title }}</option>
            {% endfor %}
          </select>
          <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg>
        </div>
      </li>
      <li class="selected-category">
        {% if tag is defined %}
          <a class="close" href="{{ entry.getUrl() }}">{{ tag.title }}&nbsp;<span>x</span></a>
        {% endif %}
        {% if category is defined %}
          <a class="close" href="{{ entry.getUrl() }}">{{ category.title }}&nbsp;<span>x</span></a>
        {% endif %}
      </li>
    </ul>

    <div class="news-posts article-grid">
      {% for newsEventEntry in newsEventsEntries %}
        {% include 'partials/_news-event-entry' with { 'newsEventEntry': newsEventEntry, 'newsOrEvents': 'news' } %}
      {% else %}
        <p class="none-found">No posts found.</p>
      {% endfor %}
    </div>
  </div>

  {% include "partials/_pagination" with { 'paginationInfo': paginationInfo } %}

{% endblock %}
