// About

.page-about {
  background: $red;
  .bg-x {
    stroke: rgba($black,0.1);
  }
  .return-crumb {
    border-color: rgba($black,0.1);
  }
  .icon-L {
    right: 8%;
    transform: rotate(-90deg);
  }
  .modal,
  .single-entry:not(.people) {
    .arrow {
      .icon-arrow {
        fill: $white;
      }
      &:hover {
        color: $white;
      }
    }
  }
  // Member modal
  .modal {
    position: absolute;
    min-height: 200px;
    top: -9999em;
    left: 9999em;
    right: 0;
    z-index: 2000;
    opacity: 0;
    padding: $global-padding;
    transition: opacity 0.5s ease;
    background: $orange;

    .photo {
      padding-right: $global-padding;
    }
    .email {
      margin-top: grid(4);
    }
    .nav a {
      display: block;
    }
    &.active {
      left: 0;
      opacity: 1;
    }
    .icon-close {
      cursor: pointer;
      position: absolute;
      width: 18px;
      height: 18px;
      fill: $black;
      top: 30px;
      right: 30px;
    }

    // Mobile-only styles
    @include max-screen($breakpoint-md) {
      // Next/prev at half-width
      .nav {
        a {
          display: block;
          width: 50%;
          float: left;
          &.left {
            padding-right: 10px;
          }
        }
      }
    }

    @include media-md {
      margin: 0 #{$global-padding * 2} 0 calc(#{columns(1)} + #{$global-padding});
      padding: grid(10) columns(.5) grid(10) calc(#{columns(1)} - #{$global-padding * 2});
    }
  }


  #footer-logo-x,
  .icon-X {
    fill: $white;
  }
  .button:hover {
    border-color: $gray;
  }
  .button:active {
    background: $gray;
    color: $black;
  }
  .single-entry,
  .our-approach {
    background: $red;
  }
  #our-team li {
    cursor: pointer;
  }

  .our-values {
    margin: grid(10) 0 0;
    ul.values {
      @include clearfix;
      li {
        font: 21px/1.476190476 $font-regular;
      }
      margin: grid(4) 0 grid(3);
    }
  }

  .people {
    background: $gray;
  }

  .people-group {
    overflow: hidden;
    margin: grid(2) 0 0;
    &:last-of-type {
      margin-bottom: 0;
    }
    .email,
    .bio {
      display: none;
    }
    .image-wrap {
      max-width: 250px;
    }
    li {
      margin-bottom: grid(4);
      .image-wrap {
        margin: 0 0 grid(2);
      }
      h3 {
        font: bold 16px/1.375 $font-display;
        margin: 0 0 grid(1);
      }
      h4 {
        font-weight: normal;
        margin: 0;
      }
    }
  }

  // Mobile-only styles
  @include max-screen($breakpoint-md) {
    // Small screen headers have colored-background h2
    .page-header .page-header-info {
      h2 {
        color: $white;
        background: $red;
      }
      h4.subhead {
        color: $white;
      }
    }
    .people {
      padding: grid(5) #{$mobile-inset} grid(8);
      margin: 0 -#{$mobile-inset} 0;
    }
  }

  // 2-column people grid between mobile and desktop
  @include screen($breakpoint-sm, $breakpoint-md) {
    .people-group {
      ul {
        margin: 0 -#{$global-padding/2};
        display: flex;
        flex-wrap: wrap;
      }
      li {
        padding: 0 $global-padding/2;
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  // Desktop styles
  @include media-md {
    .site-nav li.active>a {
      color: $white;
      .icon-arrow {
        fill: $white;
      }
    }
    .our-values {
      ul.values {
        margin: grid(4) 0 grid(10);
        li {
          font: 30px/1.33 $font-regular;
          float: left;
          width: 33%;
        }
      }
    }

    .people-group {
      ul {
        margin: 0 -#{$global-padding/2};
      }
      li {
        padding: 0 #{$global-padding/2};
      }
    }
  }
}
