// Community

.page-community {
  .icon-L {
    top: 160px;
    right: 6%;
    transform: rotate(180deg);
  }
  &.logged-in {
    .icon-L {
      top: 210px;
    }
  }

  .return-crumb {
    border: none;
  }
  .single-member {
    background: $gray;
  }

  .members {
  }

  @include media-md {
    .members {
      article {
        .image {
          @include aspect-ratio(320,215);
        }
        float: left;
        width: 33.3%;
        padding-right: $global-padding;
        margin-bottom: grid(4);
        &:nth-child(3n+1) {
          clear: left;
        }
      }
    }
  }
}
