// Community

.page-community {
  .return-crumb {
    border: none;
    .icon-arrow {
      fill: $red;
    }
  }
  .single-member {
    background: $gray;
  }

  .member-list {
    @include clearfix;
    &.article-list {
      h4 {
        margin: 0;
        font-weight: normal;
      }
    }
  }

  .icon-L {
    transform: rotate(180deg);
  }

  // Adjust L position and rotation
  @include media-nav {
    .icon-L {
      top: 160px;
      right: 6%;
    }
    &.logged-in {
      .icon-L {
        top: 205px;
      }
    }
  }

  // Desktop styles
  @include media-md {
    .member-list {
      article {
        .image {
          @include aspect-ratio(320,215);
        }
        float: left;
        width: 33.3%;
        padding-right: $global-padding;
        margin-bottom: grid(4);
        &:nth-child(3n+1) {
          clear: left;
        }
      }
      &.article-list {
        article {
          margin-bottom: grid(2);
        }
      }
    }
  }
}

// Hover states for member articles
.no-touchevents {
  .member-list article {
    h4 a {
      transition: all 0.2s ease;
    }
    &:hover {
      h4 a {
        color: $red;
      }
    }
  }
}
