// Community

.page-community {
  .return-crumb {
    border: none;
    .icon-arrow {
      fill: $red;
    }
  }
  .single-member {
    background: $gray;
  }

  .member-list {
    @include clearfix;
    &.mode-list {
      h4 {
        margin: grid(1) 0;
        font-weight: normal;
      }
    }
  }

  // Mobile-only styles
  @include max-screen($breakpoint-md) {
    .icon-L {
      transform: rotate(180deg);
    }
  }

  // Adjust L position and rotation
  @include media-nav {
    .icon-L {
      top: 160px;
      right: 6%;
      transform: rotate(180deg);
    }
    &.logged-in {
      .icon-L {
        top: 205px;
      }
    }
  }

  // Desktop styles
  @include media-md {
    .member-list {
      article {
        .image {
          @include aspect-ratio(320,215);
        }
        float: left;
        width: 33.3%;
        padding-right: $global-padding;
        margin-bottom: grid(4);
        &:nth-child(3n+1) {
          clear: left;
        }
      }
      &.mode-list {
        article {
          margin-bottom: grid(2);
        }
      }
    }
  }
}
