// Homepage

.page-home {

  // Featured carousel
  .featured {
    @include clearfix;
  }

  // Bottom of page upcoming event + secondary feature
  .secondary-featured {
    @include clearfix;
    article {
      margin: grid(8) 0;
    }
  }

  // Small screen only styles
  @include max-screen($breakpoint-md) {
    // Break out featured posts from global padding
    .featured.news,
    .featured-carousel {
      margin: 0 -#{$global-padding};
      .article-info {
        margin: 0 $global-padding;
      }
    }

    // Reorder article-image & article-info on smaller screens
    .featured.news {
      margin: 0 -#{$mobile-inset};
      .grid {
        display: flex;
        flex-direction: column;
      }
      .article-image {
        order: 1;
      }
      .article-info {
        margin: 0 $mobile-inset;
        order: 2;
      }
    }
  }

  // Desktop styles
  @include media-md {
    // Custom spacing for large statements on desktop
    .text-header {
      margin: 0 #{$global-padding * 2} 0 calc(#{columns(1)} + #{$global-padding});
      padding: grid(14) columns(1) grid(8) calc(#{columns(1)} - #{$global-padding * 2});

      &.secondary {
        padding-top: grid(10);
      }
    }

    .featured {
      margin: 0;
      padding: 0 $global-padding;
      width: 100%;

      .article-info,
      .article-image {
        margin: 0;
        padding: 0 $global-padding;
      }
      .article-info h3 {
        // Keep title readable
        max-width: 450px;
      }

      // Reversed image/info featured post
      &.news {
        padding-left: calc(#{columns(1)} - #{3 * $global-padding});
        .article-info {
          padding: 0 0 0 #{2 * $global-padding};
        }
        .article-image {
          padding: 0 $global-padding 0 0;
        }
      }
    }

    .secondary-featured {
      padding: grid(8) 0;
      margin-left: calc(#{columns(2)} - #{$global-padding});
      article {
        margin: 0;
        width: 50%;
        float: left;
        padding: 0 columns(1) grid(6) 0;
      }
    }
  }

}
