// News

.page-news-events {
  .return-crumb {
    border: none;
  }
  .related-posts {
    margin-top: grid(4);
    h3 {
      margin-top: 0;
    }
  }

  .news-posts {
    article {
      time {
        display: block;
        margin: grid(5) 0 grid(3);
      }
      h3 {
        margin-top: 0;
      }
    }
  }
  .single-entry {
    .user-content {
      margin-bottom: grid(4);
    }
  }

  // Desktop styles
  @include media-md {
    .related-posts {
      margin-top: grid(10);
      article:first-of-type {
        padding-right: $global-padding;
      }
    }
    .news-posts {
      @include clearfix;

      article {
        .image {
          @include aspect-ratio(480,305);
        }
        float: left;
        width: 50%;
        padding: 0 0 0 $global-padding;
        margin-bottom: grid(4);
        &:nth-child(2n+1) {
          padding: 0 $global-padding 0 0;
          clear: left;
        }
      }
    }
  }
}
