// News & Events

.news-posts {
  @include clearfix;

  article {
    margin: 0 0 grid(8);
    time {
      display: block;
      margin: grid(0) 0 grid(3);
    }
    .image-wrap {
      margin-bottom: grid(5);
    }
    h3 {
      margin-top: 0;
    }
    p.excerpt {
      margin-bottom: grid(3);
    }
    &:last-of-type {
      margin-bottom: 0;
    }

    @include media-md {
      .image {
        @include aspect-ratio(480,305);
      }
      float: left;
      padding: 0 0 0 $global-padding;
      &.news-entry {
        width: 50%;
        &:nth-child(2n+1) {
          padding: 0 $global-padding 0 0;
          clear: left;
        }
      }
      &.events-entry {
        width: 33.3%;
        margin: 0 0 grid(4);
        &:nth-child(3n+1) {
          padding: 0 $global-padding 0 0;
          clear: left;
        }
      }
    }

    // Events-specific
    &.events-entry {
      @include max-screen($breakpoint-lg) {
        h3 {
          font: bold 16px/1.5625 $font-display;
        }
      }
      time {
        color: $red;
        margin: 0 0 grid(1);
      }
      .read-more {
        display: none;
      }
    }
  }
}
.event-meta,
.news-date {
  margin: grid(4) 0;
  li {
    display: inline-block;
    @include type-display;
    margin-right: grid(4);
  }
}
.event-meta {
  li {
    display: block;
    margin: 0 0 grid(2);
  }
}
.share {
  margin-top: grid(4);
  ul,
  li,
  a,
  h4.subhead {
    display: inline-block;
    margin-right: grid(2);
  }
  a {
    svg {
      width: 18px;
      height: 18px;
      fill: $black;
      transition: all 0.2s ease;
    }
  }
}
.no-touchevents .share a:hover svg {
  fill: $red;
}

.page-events,
.page-news {
  // Single page styles
  &.single {
    background: $white;
    .bg-x {
      display: none;
    }
  }
  .return-crumb {
    border: none;
  }
  .related-posts {
    padding: grid(4) 0 grid(2);
    h3 {
      margin: 0;
    }
    article {
      margin-bottom: grid(4);
    }
    @include media-md {
      padding-bottom: 0;
    }
  }

  .single-entry {
    background: $white;
    .user-content {
      margin-bottom: grid(4);
    }
  }

  // Desktop styles
  @include media-md {
    .page-header {
      padding-top: grid(20);
      .image-wrap {
        .image {
          @include aspect-ratio(680,530);
        }
      }
    }
    .single-entry {
      padding-top: grid(6);
    }
    .related-posts {
      h3 {
        margin-bottom: grid(2);
      }
      margin: grid(10) calc(-#{columns(.5, 3)} - 60px) 0 0;
      article {
        padding-right: $global-padding;
      }
    }
  }
}
