// News

.news-posts {
  article {
    time {
      display: block;
      margin: grid(5) 0 grid(3);
    }
    h3 {
      margin-top: 0;
    }
  }
  @include media-md {
    @include clearfix;

    article {
      .image {
        @include aspect-ratio(480,305);
      }
      float: left;
      width: 50%;
      padding: 0 0 0 $global-padding;
      margin-bottom: grid(4);
      &:nth-child(2n+1) {
        padding: 0 $global-padding 0 0;
        clear: left;
      }
    }
  }
}
.share {
  margin-top: grid(4);
  ul,
  li,
  a,
  h4.subhead {
    display: inline-block;
    margin-right: grid(2);
  }
  a {
    svg {
      width: 18px;
      height: 18px;
      fill: $red;
      transition: all 0.2s ease;
    }
  }
}
.no-touchevents .share a:hover svg {
  fill: $black;
}

.page-news-events {
  .return-crumb {
    border: none;
  }
  .related-posts {
    margin-top: grid(4);
    h3 {
      margin: 0;
    }
    article {
      margin-bottom: grid(4);
    }
  }

  .single-entry {
    background: $gray;
    .user-content {
      margin-bottom: grid(4);
    }
  }

  // Desktop styles
  @include media-md {
    .page-header {
      padding-top: grid(20);
      .image-wrap {
        .image {
          @include aspect-ratio(680,530);
        }
      }
    }
    .single-entry {
      padding-top: grid(6);
    }
    .related-posts {
      h3 {
        margin-bottom: grid(2);
      }
      margin: grid(10) calc(-#{columns(.5, 3)} - 60px) 0 0;
      article {
        padding-right: $global-padding;
      }
    }
  }
}
