// Resources

.page-resources {
  background: $orange;

  .bg-x {
    stroke: #A9A640;
  }
  .icon-L {
    right: 8%;
    transform: rotate(-90deg);
  }
  #footer-logo-x,
  .icon-X {
    fill: $white;
  }

  .page-header {
    // color: $gray;
  }
  .return-crumb {
    border-color: rgba($black,0.2);
  }
  .single-entry {
    background: $orange;
  }
  .primary-resources {
    margin-bottom: grid(6);
  }
  .other-resources {
    h3,
    p {
      margin: 0 0 grid(2);
    }
    article {
      margin-bottom: grid(4);
    }
  }

  // Mobile-only styles
  @include max-screen($breakpoint-md) {
    // Small screen headers have colored-background h2
    .page-header .page-header-info {
      color: $white;
      h2 {
        background: $orange;
      }
    }
  }

  // Desktop styles
  @include media-md {
    .other-resources {
      article {
        padding-right: $global-padding;
      }
    }
    .site-nav li.active>a {
      color: $white;
    }
  }
}
