// Resources

.page-resources {
	.bg-x {
		stroke: #A9A640;
	}
	background: $orange;
	.page-header {
		color: $gray;
	}
	.return-crumb {
		border-color: rgba($black,0.2);
	}
	.single-entry {
		background: $orange;
	}

  @include media-md {
  }
}
