// Single entries (members, programs)
.single-entry {
  .stats {
    padding: grid(4) 0 grid(8);
  }
  .post-meta {
    padding-top: grid(2);
  }

  // Mobile single-entry expands outside content area by $mobile-inset
  padding: grid(5) #{$mobile-inset} grid(8);
  margin: grid(8) -#{$mobile-inset} 0;

  @include media-md {
    min-height: 50vh; // todo: remove this (tmp while we have no content)
    margin: 0 #{$global-padding * 2} 0 calc(#{columns(1)} + #{$global-padding});
    padding: grid(10) columns(.5) grid(10) calc(#{columns(1)} - #{$global-padding * 2});
  }
}

.center-content {
  @include clearfix;

  @include media-md {
    margin: 0 calc(#{columns(1)} - #{$global-padding * 2}) 0 calc(#{columns(1)} - #{$global-padding});
  }
}

.read-more {
  @include type-display;
  margin-bottom: 0;
}
