// Single entries (members, programs)
.single-entry {
  .stats {
    padding: grid(2) 0 grid(4);
  }
  .post-meta {
    padding-top: grid(8);
  }

  // Mobile single-entry expands outside content area by $mobile-inset
  padding: grid(5) #{$mobile-inset} 0;
  margin: 0 -#{$mobile-inset} 0;

  @include max-screen($breakpoint-md) {
    // Confounded pages
    &.single-page {
      padding-bottom: grid(4);
    }
  }

  @include media-md {
    min-height: 50vh; // todo: remove this (tmp while we have no content)
    margin: 0 #{$global-padding * 2} 0 calc(#{columns(1)} + #{$global-padding});
    padding: grid(10) columns(.5) grid(10) calc(#{columns(1)} - #{$global-padding * 2});

    .stats {
      padding: 0 0 grid(6);
    }
  }
}

.center-content {
  @include clearfix;
  padding: 0 0 grid(8);

  @include media-md {
    margin: 0 calc(#{columns(1)} - #{$global-padding * 2}) 0 calc(#{columns(1)} - #{$global-padding});
  }
}

// Article hovers
.no-touchevents {
  // Gradient on .article-grid hovers
  .article-grid .image-wrap {
    position: relative;
    .gradient {
      transition: all .5s ease;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      background: rgba(65, 65, 65, 0.5);
      pointer-events: none;
    }
    &:hover .gradient {
      opacity: .5;
    }
  }
  // Titles turn red
  article h3 a {
    transition: all 0.2s ease;
    &:hover {
      color: $red;
    }
  }
}

.read-more {
  @include type-display;
  margin-bottom: 0;
}

// News/Events + Community Filters
.filters {
  @include type-subhead;
  .view-toggle {
    svg {
      width: 15px;
      height: 15px;
      margin-right: grid(2);
    }
  }
  a.active {
    color: $red;
    svg {
      fill: $red;
    }
  }
  li {
    display: block;
    margin: grid(4) 0;
    &.selected-category {
      font-weight: normal;
      text-transform: none;
      span {
        font-weight: bold;
        color: $red;
      }
    }
  }
  .select {
    text-transform: none;
    span {
      letter-spacing: 0;
    }
  }

  // Desktop styles
  @include media-md {
    @include clearfix;
    list-style: none;
    margin: 0 0 grid(8);
    li {
      float: left;
      width: 33%;
      margin: 0;
    }
  }
}
.no-touchevents {
  .filters {
    a, svg {
      transition: all 0.2s ease;
    }
    a:hover {
      color: $red;
      svg {
        fill: $red;
      }
    }

  }
}

// Site alerts (unused right now)
.alert {
  background: $black;
  color: $gray;
  text-align: center;
  z-index: 1000;
  padding: mobile-grid(3);
  p {
    margin: 0;
  }
  a {
    color: $gray;
    text-decoration: underline;
  }

  @include media-md {
    padding: grid(3);
    margin-left: columns(2);
  }
}

// General button styles
.button {
  transition: all .15s ease;
  padding: 10px 32px;
  font: 16px/1.5625 $font-display;
  color: $black;
  display: inline-block;
  border: 1px solid $black;
  border-radius: 3px;
  text-decoration: none;
}
// Hover events on no-touch
.no-touchevents {
  .button:hover {
    color: $red;
    text-decoration: none;
    border: 1px solid $red;
  }
  .button:active {
    background: $red;
    color: $gray;
  }
}

// Sitewide stats (used in various areas)
.stats {
  .stat-figure {
    font: bold 72px/1.138888889 $font-display;
    display: block;
  }
  .stat-label {
    display: block;
    @include type-display;
    margin-bottom: grid(2);
  }

  @include media-md {
    li {
      max-width: none;
      padding-right: grid(3);
    }
    .stat-label {
      margin-bottom: 0;
    }
  }
}

// Post meta columns at the bottom of several areas (contact, social, links)
.post-meta {
  @include clearfix;
  ul,
  ol,
  p {
    @include type-display;
  }
  li {
    // Remove margins headers
    h3,
    h4 {
      margin: 0;
    }
  }

  @include media-md {
    li {
      padding-right: $global-padding;
      max-width: none;
    }
  }
}

// Back to xxx footer crumbs
.return-crumb {
  border-top: 4px dashed $blue2;
  padding: grid(8) 0 grid(6);
  &,
  .arrow {
    @include type-subhead;
  }

  @include media-md {
    padding-bottom: 0;
  }
}
.no-touchevents .crumb a {
  transition: all 0.2s ease;
  &:hover {
    color: $red;
  }
}

// Post date for news posts
time {
  @include type-display;
}

// Arrow links/buttons
.arrow {
  @include type-display;
  transition: color 0.2s ease;
  .icon-arrow {
    width: 10px;
    height: 10px;
    fill: $red;
  }
  &.left {
    .icon-arrow {
      transform: rotate(180deg);
    }
  }
}
.no-touchevents .arrow:hover {
  color: $red;
  text-decoration: none;
}