// Work

.page-work {
  background: $blue;
  .bg-x {
    stroke: #ACE3FE;
  }
  #our-programs {
    margin: grid(8) 0 grid(4);
  }
  #our-impact {
    background: $blue3;
    padding: grid(5) #{$mobile-inset} grid(8);
    margin: 0 -#{$mobile-inset};
  }
  #work-with-us {
    border-top: 1px dashed $black;
    padding-top: grid(8);
    margin-top: grid(10);
    .links {
      @include type-display;
      a {
        display: block;
        padding: grid(1) grid(2) grid(1) 0;
      }
    }
  }
  .single-program {
    background: $blue;
  }
  .program {
    h2 {
      margin: 0 0 grid(2);
    }
    padding: 0 0 grid(6);
    margin-bottom: grid(5);
    border-bottom: 1px dashed $black;
    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  @include max-screen($breakpoint-md) {
    .icon-L {
      right: 4px;
      transform: rotate(-90deg);
    }
  }


  @include media-md {
    .icon-L {
      right: 5%;
      transform: rotate(-90deg);
    }
    #our-programs {
      background: $blue;
      margin: 0 calc(#{columns(1)} - #{$global-padding}) 0 calc(#{columns(1)} + #{$global-padding});
      padding: grid(10) 0 0 calc(#{columns(1)} - #{$global-padding * 2});
    }

    #our-impact {
      margin: 0 #{$global-padding * 2} 0 calc(#{columns(1)} + #{$global-padding});
      padding: grid(10) columns(.5) grid(10) calc(#{columns(1)} - #{$global-padding * 2});
    }

    #work-with-us {
      .links {
        a {
          width: 50%;
        }
      }
    }
  }
}
