{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = 'single' %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% block content %}
  <article class="single-entry single-resource">
    <h4 class="crumb subhead"><a href="/resources/">Resources</a></h4>
    <h1>{{ entry.title }}</h1>
    {{ entry.statement }}
    <div class="user-content">
      {{ entry.body }}
    </div>
    {% include 'partials/_post-meta' with { postMeta: entry.postMeta } %}
    <div class="return-crumb">
      <a class="arrow left" href="/resources/"><svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg> Back to Resources</a>
    </div>
  </article>
{% endblock %}

{% block footerimage %}
  {% set entryFooterImage = entry.footerImage|length ? entry.footerImage : entry.memberImage %}
  {% include 'partials/_footer-image' with { footerImage: entryFooterImage, gradientColor: '#bdb83d' } %}
{% endblock %}
