{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% if entry is not defined %}
  {% set entry = craft.entries.section('resourcesIndex').one() %}
{% endif %}

{% set primaryResourcesCat = craft.categories.group('resourceTypes').slug('primary-resource').one() %}

{% set primaryResources = craft.entries({
  section: 'resources',
  relatedTo: primaryResourcesCat,
}) %}

{% set otherResources = craft.entries.section('resources').id('and, not '~primaryResources.ids() | join(', not ')) %}

{% block content %}
  {% include 'partials/_page-header' with { pageHeader: entry.pageHeader, gradientColor: '#bdb83d' } %}
  <div class="single-entry">
    <div class="primary-resources">
      {% for resourceEntry in primaryResources.all() %}
        <article>
          <h1><a href="{{ resourceEntry.getUrl() }}">{{ resourceEntry.title }}</a></h1>
          <p class="excerpt">{{ resourceEntry.excerpt ? resourceEntry.excerpt : resourceEntry.body | chop(limit=20, unit='w', append='…') }}</p>
          <p class="read-more"><a href="{{ resourceEntry.getUrl() }}" class="button">Learn More</a></p>
        </article>
      {% endfor %}
    </div>

    <div class="other-resources grid">
      {% for resourceEntry in otherResources.all() %}
        <article class="one-half">
          <h3><a href="{{ resourceEntry.getUrl() }}">{{ resourceEntry.title }}</a></h3>
          <p class="excerpt">{{ resourceEntry.excerpt ? resourceEntry.excerpt : resourceEntry.body | chop(limit=20, unit='w', append='…') }}</p>
          <p class="read-more"><a href="{{ resourceEntry.getUrl() }}" class="arrow">Learn More <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a></p>
        </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footerimage %}
  {% set entryFooterImage = entry.footerImage|length ? entry.footerImage : entry.memberImage %}
  {% include 'partials/_footer-image' with { footerImage: entryFooterImage, gradientColor: '#bdb83d' } %}
{% endblock %}
