{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = 'single' %}

{% set relatedPosts = craft.entries.section('news').id('not ' ~ entry.id).limit(2) %}

{% block content %}
  {% include "partials/_news-event-image-header" with { 'image': entry.newsEventImage } %}

  <article class="single-entry single-news">
    {% include "partials/_news-event-header" with { newsEventPost: entry } %}
    <h1>{{ entry.title }}</h1>
    {{ entry.statement }}
    <div class="user-content">
      {{ entry.body }}
    </div>
    {% if entry.tags %}
      <ul class="tags">
        {% for tag in entry.tags.all() %}
          <a href="/news-events/news/tagged/{{ tag.slug }}" class="button">{{ tag.title }}</a>
        {% endfor %}
      </ul>
    {% endif %}
    {% include "partials/_news-share" with { "entry": entry } %}
    {% include "partials/_news-related-posts" with { "relatedPosts": relatedPosts } %}
  </article>
{% endblock %}
