<!doctype html>
  <!--[if IE 9 ]> <html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

  {% include '/partials/_head' %}

  <body class="{% if currentUser %}logged-in {% endif %}{% if bodyClass is defined %}{{ bodyClass }} {% endif %}page-{{ segment(1) ? segment(1) : 'home' }}"{% if bodyId is defined %} id="{{ bodyId }}"{% endif %}>
    <div id="breakpoint-indicator"></div>
    {{ adminbar({ sticky: false }) }}
    <div class="body-wrapper">

      <div class="clx-elements">
        <svg class="icon bg-x" aria-hidden="true" role="presentation" viewBox="0 0 1527 1507"><use xlink:href="#bg-x"/></svg>
        <svg class="icon bg-x lower" aria-hidden="true" role="presentation" viewBox="0 0 1527 1507"><use xlink:href="#bg-x"/></svg>
        <svg class="icon icon-C" aria-hidden="true" role="presentation" viewBox="0 0 87 94"><use xlink:href="#icon-C"/></svg>
        <svg class="icon icon-L" aria-hidden="true" role="presentation" viewBox="0 0 52 128"><use xlink:href="#icon-L"/></svg>
        <svg class="icon icon-X" aria-hidden="true" role="presentation" viewBox="0 0 81 81"><use xlink:href="#icon-X"/></svg>
      </div>

      <div class="page-wrapper">
        <header class="site-header" role="banner">
          <div class="wrap">
            <a href="/"><svg class="icon icon-logo" aria-hidden="true" role="presentation" viewBox="0 0 240 60"><use xlink:href="#icon-logo"/></svg></a>
            <nav class="site-nav" role="navigation">
              <svg class="icon-search" title="Search"><use xlink:href="#icon-search"/></svg>
              {% include '/partials/_navigation' %}
            </nav>
          </div>
        </header>
        <main class="site-main" role="main">
          <div class="wrap">
            {% block content %}{% endblock %}
          </div>
        </main>
      </div>{# /.page-wrapper #}

      {% block footerimage %}{% endblock %}
      {% include '/partials/_footer' %}

    </div>{# /.body-wrapper #}
  </body>
</html>