<!doctype html>
  <!--[if IE 9 ]> <html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

  {% include '/partials/_head' %}

  <body class="{% if currentUser %}logged-in {% endif %}{% if bodyClass is defined %}{{ bodyClass }} {% endif %}page-{{ segment(1) ? segment(1) : 'home' }}"{% if bodyId is defined %} id="{{ bodyId }}"{% endif %}>
    <div id="top"></div>
    {{ adminbar({ sticky: false }) }}
    <div class="body-wrapper">

      <svg class="icon bg-x" aria-hidden="true" role="presentation" viewBox="0 0 1527 1507"><use xlink:href="#bg-x"/></svg>
      <svg class="icon bg-x lower" aria-hidden="true" role="presentation" viewBox="0 0 1527 1507"><use xlink:href="#bg-x"/></svg>

      <div class="clx-elements">
        <svg class="icon icon-C" aria-hidden="true" role="presentation" viewBox="0 0 87 94"><use xlink:href="#icon-C"/></svg>
        <svg class="icon icon-L" aria-hidden="true" role="presentation" viewBox="0 0 52 128"><use xlink:href="#icon-L"/></svg>
        <svg class="icon icon-X" aria-hidden="true" role="presentation" viewBox="0 0 81 81"><use xlink:href="#icon-X"/></svg>
      </div>

      <header class="site-header" role="banner">
        <div class="nav-bg"></div>
        <div class="nav-fg">
          <a href="/"><svg class="icon icon-logo" aria-hidden="true" role="presentation" viewBox="0 0 240 60"><use xlink:href="#icon-logo"/></svg></a>
          <div class="mobile-nav-bg"></div>
          <div class="mobile-nav-toggle"><svg class="icon-hamburger"><use xlink:href="#icon-hamburger" /></svg></div>
          <div class="mobile-nav-close"><svg class="icon-close"><use xlink:href="#icon-close" /></svg></div>
          <nav class="site-nav" role="navigation">
            <div class="search-toggle"><svg class="icon-search" title="Search"><use xlink:href="#icon-search"/></svg></div>
            {% include '/partials/_navigation' %}
          </nav>
        </div>
      </header>

      <div class="page-wrapper">
        <main class="site-main" role="main">
          {% block content %}{% endblock %}
        </main>
      </div>{# /.page-wrapper #}

      {% block footerimage %}{% endblock %}
      {% include '/partials/_footer' %}

      <div id="search-modal">
        <div class="content"></div>
        <svg class="icon icon-close"><use xlink:href="#icon-close" /></svg>
        {% include "partials/_search-form" with { 'query': '' } %}
      </div>

    </div>{# /.body-wrapper #}
  </body>
</html>