{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% if entry.homepageFeaturedPosts.secondFeature|length %}
  {% set secondFeature = entry.homepageFeaturedPosts.secondFeature.one() %}
{% else %}
  {% set secondFeature = craft.entries({
    section: 'news',
    featured: 1,
  }).orderBy('RAND()').one() %}
{% endif %}

{% if entry.homepageFeaturedPosts.thirdFeature|length %}
  {% set thirdFeature = entry.homepageFeaturedPosts.thirdFeature.one() %}
{% else %}
  {% set thirdFeature = craft.entries({
    section: 'news',
    featured: 1,
  }).id('not ' ~ secondFeature.id).orderBy('RAND()').one() %}
{% endif %}

{% set upcomingEvent = craft.entries({
  section: 'events',
  with: [
    'newsEventImage',
    'eventTypes',
  ]
}).orderBy('featured DESC, dateStart DESC').one() %}

{% block content %}

  <div class="text-header">
    <h1>{{ entry.homepageMessaging.tagline1|nl2br }}</h1>
  </div>

  {% if entry.homepageFeaturedPosts.featuredCarousel|length %}
    <div class="featured-carousel article-grid">
    {% for featuredPost in entry.homepageFeaturedPosts.featuredCarousel.all() %}
      {% set postType = featuredPost.type.name %}
      {% set postImage = featuredPost.newsEventImage[0] ?? null %}
      <article class="featured program grid">

        {% if postImage %}
          {% set treatedImage = craft.imager.transformImage(postImage, {
            width: 1000,
            effects: { modulate: [100, 0, 100], clut: 'gradient:#222222-#ffffff' }
          }) %}
          <div class="article-image one-half">
            <div class="image-wrap">
              <a href="{{ featuredPost.getUrl()}}" class="image" style="background-image: url({{ treatedImage ? treatedImage.getUrl() : '' }});"></a>
            </div>
          </div>
        {% endif %}

        <div class="article-info one-half">
          {% include 'partials/_news-event-header' with { newsEventPost: featuredPost } %}
          <h3><a href="{{ featuredPost.getUrl() }}">{{ featuredPost.title }}</a></h3>
          <p class="read-more">
            <a href="{{ featuredPost.getUrl() }}" class="button">Read More</a>
          </p>
        </div>

      </article>
    {% endfor %}
    </div>
  {% endif %}

  <div class="text-header secondary">
    <h1>{{ entry.homepageMessaging.tagline2|nl2br }}</h1>
    {{ entry.homepageMessaging.statement }}
  </div>

  {% if secondFeature %}
    <div class="article-grid">
      <article class="featured news">
        <div class="grid">
          <div class="article-info one-half">
            <h4 class="subhead"><a href="/news/"><span>News</span></a> {% if secondFeature.newsTopics|length %} / <a href="{{ secondFeature.newsTopics[0].getUrl() }}">{{ secondFeature.newsTopics[0].title }}</a>{% endif %}</h4>
            <h3><a href="{{ secondFeature.getUrl() }}">{{ secondFeature.title }}</a></h3>
            <p class="read-more">
              <a href="{{ secondFeature.getUrl() }}" class="button">Read More</a>
            </p>
          </div>

          {% if secondFeature.newsEventImage|length %}
            {% set postImage = secondFeature.newsEventImage.one() %}
            {% set treatedImage = craft.imager.transformImage(postImage, {
              width: 1000,
              effects: { modulate: [100, 0, 100], clut: 'gradient:#222222-#ffffff' }
            }) %}
            <div class="article-image one-half">
              <div class="image-wrap">
                <a href="{{ secondFeature.getUrl() }}" class="image" style="background-image: url({{ treatedImage ? treatedImage.getUrl() : '' }});"></a>
              </div>
            </div>
          {% endif %}
        </div>
      </article>
    </div>
  {% endif %}

  <div class="secondary-featured article-grid">

    {% if upcomingEvent %}
      <article class="upcoming event">
        <div class="article-info">
          <h4 class="subhead">Upcoming Event</h4>
          <h3><a href="{{ upcomingEvent.getUrl() }}">{{ upcomingEvent.title }}</a></h3>
          <p class="excerpt">{{ upcomingEvent.excerpt ? upcomingEvent.excerpt : upcomingEvent.body | chop(limit=20, unit='w', append='…') }}</p>
          <p class="read-more">
            <a href="{{ upcomingEvent.getUrl() }}" class="arrow">Learn More <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a>
          </p>
        </div>
      </article>
    {% endif %}

    {% if thirdFeature %}
      <article class="upcoming event">
        <div class="article-info">
          {% include 'partials/_news-event-header' with { newsEventPost: thirdFeature } %}
          <h3><a href="{{ thirdFeature.getUrl() }}">{{ thirdFeature.title }}</a></h3>
          <p class="excerpt">{{ thirdFeature.excerpt ? thirdFeature.excerpt : thirdFeature.body | chop(limit=20, unit='w', append='…') }}</p>
          <p class="read-more">
            <a href="{{ thirdFeature.getUrl() }}" class="arrow">Learn More <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a>
          </p>
        </div>
      </article>
    {% endif %}

  </div>

{% endblock %}
