{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = 'single' %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set relatedPosts = craft.entries.section('events').id('not ' ~ entry.id).limit(2) %}
{% set isActiveEvent = (entry.dateStart and entry.dateStart|date('Y-m-d') > now|date('Y-m-d')) ? true : false %}

{% block content %}
  {# (moved to footer) include "partials/_news-event-image-header" with { 'image': entry.newsEventImage } #}

  <article class="single-entry single-event">
    {% include 'partials/_news-event-header' with { newsEventPost: entry } %}
    <h1>{{ entry.title }}</h1>
    <ul class="event-meta">
      {% if entry.dateStart %}
        <li>
          {{ entry.dateStart|date('m/d/y') }}
          {% set eventTime = entry.dateStart|date('ga') %}
          {% if eventTime != '12am' %}
            @ {{ eventTime }}
          {% endif %}
          {% if entry.dateEnd and entry.dateEnd != entry.dateStart %}
            – {{ entry.dateEnd|date('m/d/y') }}
            {% set eventTime = entry.dateEnd|date('ga') %}
            {% if eventTime != '12am' %}
              @ {{ eventTime }}
            {% endif %}
            {% if entry.dateEnd|date('Y-m-d') < now|date('Y-m-d') %}
              {% set isActiveEvent = false %}
            {% endif %}

          {% endif %}
        </li>
      {% endif %}
      {% if entry.venue %}
        <li>{{ entry.venue }}</li>
      {% endif %}
      <li>{% include "partials/_address" with { "address": entry.address } %}</li>
      {% if entry.eventUrl and isActiveEvent %}
        <li><a class="arrow" target="_blank" rel="noopener noreferrer" href="{{ entry.eventUrl }}">Register <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a></li>
      {% endif %}
    </ul>
    <div class="user-content">
      {{ entry.body }}
    </div>
    {% include "partials/_news-share" with { "entry": entry } %}
    {% include "partials/_news-related-posts" with { "relatedPosts": relatedPosts } %}
  </article>
{% endblock %}

{% block footerimage %}
  {% include 'partials/_footer-image' with { footerImage: entry.newsEventImage } %}
{% endblock %}
