{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = 'single' %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% block content %}
  <article class="single-entry single-program">
    <h4 class="crumb subhead"><a href="/work/">Work<a> / <a href="/work/#our-programs">Our Programs</a></h4>
    <h1>{{ entry.title }}</h1>
    {{ entry.statement }}
    {% include 'partials/_stats' with { stats: entry.stats } %}
    <div class="user-content">
      {{ entry.body }}
    </div>
    {% include 'partials/_post-meta' with { postMeta: entry.postMeta } %}
    <div class="return-crumb">
      <a class="arrow left" href="/work/#our-programs"><svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg> Our Programs</a>
    </div>
  </article>
{% endblock %}

{% block footerimage %}
  {% include 'partials/_footer-image' with { footerImage: entry.footerImage, gradientColor: '#AFE3FE' } %}
{% endblock %}