{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set programs = craft.entries().section('programs') %}

{% block content %}
  {% include 'partials/_page-header' with { pageHeader: entry.pageHeader, gradientColor: '#91dbff' } %}

  <div id="our-programs">
    <h4 class="subhead">Our Programs</h4>
    <ul>
      {% for program in programs.all() %}
        <li class="program">
          <article>
            <h2>{{ program.title }}</h2>
            <div class="user-content">
              <p class="excerpt">{{ program.excerpt ? program.excerpt : program.body | chop(limit=20, unit='w', append='…') }}</p>
              <a href="{{ program.getUrl() }}" class="button">Read More</a>
            </div>
          </article>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="our-impact">
    <h4 class="subhead">Our Impact</h4>
    {{ entry.ourImpact.impactStatement }}
    {% include 'partials/_stats' with { stats: entry.ourImpact.stats } %}

    <div id="join-clx">
      <h4 class="subhead">Join CLX</h4>
      {{ entry.joinCLX.prompt }}
      <ul class="links">
        {% for link in entry.joinCLX.links %}
          <li>
            <a rel="noopener" target="_blank" class="arrow" href="{{ link.linkUrl }}">{{ link.linkText }} <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block footerimage %}
  {% include 'partials/_footer-image' with { footerImage: entry.footerImage, gradientColor: '#91dbff' } %}
{% endblock %}